<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuddySphere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-nav">
           {% if current_user.is_authenticated %}
          <span class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </span>
            <span class="nav-item">
              <a class="nav-link" id="chat" href="/chat" method="GET">Chat</a>
            </span>
            <span class="nav-item">
              <a class="nav-link" id="profile" href="/profile">Profile</a>
            </span>
            <span class="nav-item">
              <a class="nav-link" id="logout" href="/logout">logout</a>
            </span>
            {% else %}
            <span class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </span>
            <span class="nav-item">
              <a class="nav-link" id="signup" href="/signup">Signup</a>
            </span>
            <span class="nav-item">
              <a class="nav-link" id="login" href="/login">Login</a>
            </span>
            {% endif %}
          </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
            <button type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div>
      {% block content %}
      
      {% endblock %}
  </div>
</body>
</html>
